---
import { Image } from '@astrojs/image/components';

import { formatImageTitle } from '../utils';

export interface Props {
	title: string;
	info: any
}

const { title, info } = Astro.props;

const header = [
	'Equipo', 'PJ', 'G', 'E', 'P', 'GF', 'GC', 'DG', 'Pts'
]
---

<li class="link-card md:min-w-max">
	<div>
		<h2>
			{`Grupo ${title}`}
		</h2>
		<div class="mt-4">
			<div>
				<div class="flex gap-2 md:gap-6">
					{header.map((head: any) => (
						<span class="inline-block font-bold text-xs md:text-base gaps">{head}</span>
					))}
				</div>
				<div class="flex flex-col">
					{info.teams.map((team: any )=> (
						<div class="flex gap-2 text-xs relative bord md:gap-6 md:text-base">
							<p class="gaps">
								<Image src={`/${formatImageTitle(team.name)}.png`} alt="Logo" width={24} height={20} loading="eager" format="png" />
								<span class="hidden md:block">{team.name}</span>
							</p>
							<p class="gaps">{team.pj}</p>
							<p class="gaps">{team.win}</p>
							<p class="gaps">{team.emp}</p>
							<p class="gaps">{team.lost}</p>
							<p class="gaps">{team.gf}</p>
							<p class="gaps">{team.gc}</p>
							<p class="gaps">{team.dg}</p>
							<p class="gaps">{team.points}</p>
						</div>
					))}
				</div>
			</div>
		</div>
	</div>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 0.15rem;
		background-color: white;
		background-image: var(--accent-gradient);
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}

	.link-card > div {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem 1.3rem;
		border-radius: 0.35rem;
		color: #111;
		background-color: white;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #444;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent));
	}
	.gaps {
		width: 28px;
	}
	.gaps:first-of-type {
		margin-right: auto;
		width: auto;
		display: flex;
		gap: 6px;
	}
	.bord:nth-child(1)::before,
	.bord:nth-child(2)::before {
		content: '';
		height: 24px;
		width: 4px;
		background-color: var(--qatar2022);
		position: absolute;
		top: 0.5rem;
		left: -0.6rem;
	}
	@media(max-width: 768px) {
		.gaps {
			width: 20px;
		}
		.bord:nth-child(1)::before,
		.bord:nth-child(2)::before {
			height: 18px;
			top: 0.6rem;
			left: -0.7rem;
		}
	}
</style>
