---
import { Image } from '@astrojs/image/components';

import { formatImageTitle } from '../utils';

const { date, teama, teamb, result, group, isToday, isTomorrow, isYesterday } = Astro.props

const [goalsTeamA, goalsTeamB, ...rest] = result?.split('-') ?? [null, null]
let penaltiesA, penaltiesB, winner;

if (goalsTeamA) {
  winner = goalsTeamA > goalsTeamB ? 'a' : 'b'
}
if (rest.length) {
  penaltiesA = rest[0]
  penaltiesB = rest[1]
  winner = penaltiesB > penaltiesA ? 'b' : 'a';
}

const groupStage = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'];
const isGroupStage = groupStage.includes(group)

const wrapperBg = isToday ? 'bg-purple-600 text-white' : 'bg-white';
const winnerBadgeClass = isToday ? 'winner-today' : 'winner';

let dateString = new Date(`${date}/2022`).toDateString();
if (isToday) dateString = 'Hoy';
if (isYesterday) dateString = 'Ayer'
if (isTomorrow) dateString = "Mañana"
---

<div id={isToday ? 'today-game' : date} class={`p-6 pr-8 rounded relative border shadow-md flex flex-col gap-4 ${wrapperBg}`}>
  <p class="font-bold">{`${ isGroupStage ? `Grupo ${group}` : group}`}</p>
  <span class="text-xs absolute top-3 right-3">{dateString}</span>
  <div>
    <div class={`flex relative ${winner === 'a' && isGroupStage && goalsTeamA !== goalsTeamB ? winnerBadgeClass : ''}`}>
      <span class="mt-1 mr-1"><Image src={`/${formatImageTitle(teama)}.png`} alt={teama} width={16} height={16} loading="eager" format="png" /></span>
      {teama}
      <span class="ml-auto">{goalsTeamA}</span>
    </div>
    <div class={`flex relative ${winner === 'b' && isGroupStage && goalsTeamA !== goalsTeamB ? winnerBadgeClass : ''}`}>
      <span class="mt-1 mr-1"><Image src={`/${formatImageTitle(teamb)}.png`} alt={teamb} width={16} height={16} loading="eager" format="png" /></span>
      {teamb}
      <span class="ml-auto">{goalsTeamB}</span>
    </div>
  </div>
</div>

<script>
  const todayGames = document.getElementById('today-game')
  
  if (todayGames) {
    window.scrollTo({left: todayGames.offsetLeft, top: todayGames.offsetTop - 50, behavior: 'smooth'})
  }
</script>

<style>
  .winner::after {
		content: '';
		height: 18px;
		width: 4px;
		background-color: #9333ea;
		position: absolute;
		top: 4px;
		right: -10px;
	}
  .winner::after {
		content: '';
		height: 18px;
		width: 4px;
		background-color: #fff;
		position: absolute;
		top: 4px;
		right: -10px;
	}
</style>
