---
import PlayoffGames from './PlayoffGames.astro';

const { octavos, cuartos, semis, final, tercero } = Astro.props;

const cuartosID: any = {
  0: 'A',
  1: 'B',
  2: 'C',
  3: "D"
}

const semisID: any = {
  0: 'I',
  1: 'II',
}

---

<div class="flex mt-10 gap-20 overflow-auto whitespace-nowrap">
  <div id='octavos' class="flex flex-col gap-4">
    <PlayoffGames games={octavos} verticalClass="vertical" horizontalClass="horizontal" />
  </div>
  <div id='cuartos' class="flex flex-col">
    <PlayoffGames
      games={cuartos}
      verticalClass='vertical-lg'
      horizontalClass='horizontal'
      horizontalSecondary={true}
      wrapperAdditionalClass="cuartos-elem"
      indexes={cuartosID}
    />
  </div>
  <div id='semis' class="flex flex-col">
    <PlayoffGames
      games={semis}
      verticalClass='vertical-xl'
      horizontalClass='horizontal'
      horizontalSecondary={true}
      wrapperAdditionalClass="semis-elem"
      indexes={semisID}
    />
  </div>
  <div id='final' class="flex flex-col">
    <PlayoffGames games={final} horizontalSecondary={true} showIndex={false} />
    <div id='tercero' class="flex flex-col mt-10">
      <PlayoffGames games={tercero} showIndex={false} />
    </div>
  </div>
</div>

<style>
  #final {
    margin-top: 388px;
  }
</style>
