---
import { Image } from '@astrojs/image/components';

import "../styles/global.css";

export interface Props {
	title: string;
	page: string;
	year: string;
}

const { title, page, year } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<div class="flex flex-col mb-4 mt-12 items-center justify-center w-full">
		<Image src={`/logo-${year}.png`} alt="Logo" width={150} height={90} loading="eager" format="png" />
	</div>
	<p class="w-full text-4xl text-center px-6">Welcome to <span class="text-gradient font-bold">FIFA World Cup</span> results</p>
	<nav class="m-auto max-w-3xl px-6 mt-6">
		<ul class="flex border-b">
			<li class={`py-0 w-24 text-center cursor-pointer ${page === 'home' ? "nav-selected" : ''} nav-elem`}>
				<a class="block py-4" href={`/${year}`}>
					Grupos
				</a>
			</li>
			<li class={`py-0 w-24 text-center cursor-pointer ${page === 'playoffs' ? "nav-selected" : ''} nav-elem`}>
				<a class="block py-4" href={`/${year}/playoff`}>
					Play-Off
				</a>
			</li>
		</ul>
	</nav>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--qatar2022: #8b1739;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.nav-selected {
		font-weight: 600;
		color: var(--qatar2022);
		border-bottom: 3px solid var(--qatar2022);
	}
	.nav-elem:hover {
		color: var(--qatar2022);
	}
</style>
