---
import { Image } from '@astrojs/image/components';

import "../styles/global.css";

export interface Props {
	title: string;
	page: string;
	year: string;
	disabled?: boolean
}

const { title, page, year, disabled } = Astro.props;

const sedes = [
	{ label: 'USA', id: '2026' },
	{ label: 'QATAR', id: '2022' },
	{ label: 'RUSIA', id: '2018' },
	{ label: 'BRASIL', id: '2014' },
	{ label: 'SUDAFRICA', id: '2010' },
]
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<div class="flex flex-col mb-4 mt-12 items-center justify-center w-full">
		<Image src={`/logo-${year}.png`} alt="Logo" width={150} height={90} loading="eager" format="png" />
	</div>
	<p class="w-full text-4xl text-center px-6">
		<select name="sedes" id="sedes" class="cursor-pointer rounded-full p-3 text-3xl border border-purple-600">
			{sedes.map((sede: any) => <option value={sede.id}>{sede.id} {sede.label}</option>)}
		</select>
		<span class="text-gradient font-bold">FIFA World Cup</span> results
	</p>
	<nav class="m-auto max-w-3xl px-6 mt-6">
		<ul class="flex border-b">
			<li class={`py-0 w-24 text-center cursor-pointer ${page === 'home' ? "nav-selected" : ''} nav-elem`}>
				{disabled ? (
					<span class="block py-4">Grupos</span>
				) : (
					<a class="block py-4" href={`/${year}`}>
						Grupos
					</a>
				)}
			</li>
			<li class={`py-0 w-24 text-center cursor-pointer ${page === 'playoffs' ? "nav-selected" : ''} nav-elem`}>
				{disabled ? (
					<span class="block py-4">Play-off</span>
				) : (
					<a class="block py-4" href={`/${year}/playoff`}>
						Play-Off
					</a>
				)}
			</li>
			{
				year === '2022' ? (
					<li class={`py-0 w-24 text-center cursor-pointer ${page === 'games' ? "nav-selected" : ''} nav-elem`}>
						<a class="block py-4" href={`/${year}/games`}>
							Partidos
						</a>
					</li>
				) : null
			}
		</ul>
	</nav>
	<body>
		<slot />
	</body>
</html>

<script>
	const dropdown: any = document.getElementById('sedes');

	const pathName = window.location.pathname;
	const split = pathName.split('/')
	
	dropdown.value = split[1]

	dropdown.addEventListener('change', (e: any) => {
		window.location.assign(`/${e.target.value}`)
	})
</script>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--qatar2022: #8b1739;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #f5efef;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.nav-selected {
		font-weight: 600;
		color: var(--qatar2022);
		border-bottom: 3px solid var(--qatar2022);
	}
	.nav-elem:hover {
		color: var(--qatar2022);
	}
</style>
